.row{
	margin-left: 0;
}
#p2{
	background-color:#E9F7F7;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 10px;
	
}
#p3{
	
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 20px;
	
	
}

#p5{
	
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 20px;
	
	
}

#bt3 {
	width: 75%;
	height: 50px;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px;
	color: white;
	background-color: orange;
}

#part2-1{
	border-bottom: solid 2px #D6C0C0;
	width: 100%;


}
#part2-2{
	border-bottom: solid 2px #D6C0C0;
	width:100%;
	

}

#part2-3{
	border-bottom: solid 2px #D6C0C0;
	width: 100%;
	

}
.con-pad{
	padding-left: 0px !important;
    padding-right:0px !important;
}

.row-mar{
	margin-left:  0px !important;
	margin-right:  0px !important;
}

#s1{
	height: 50px;
}
#s2{
	height: 40px;
	line-height: 40px;
}
#s3{
	float: middle;
}
#s4{
	float: right;
}
