.no-padding{
    padding: 0;
}

.no-bg{
    background: none;
}

.cen{
    text-align: center;
}

.my-bor{
    border-style: solid;
    border-width: 1px;
    border-color: #e8e8e8;
}

.my-block{
    margin-top: 10px;
    width: 98%;
    border-radius: 4%;
}

.nav-pad{
    padding: 10px 0px 0px 0px;
}

.no-bor{
    border-style: none;
}

.ic-p{
    margin: 0 0 5px;
}

.cir-bor{
    border-radius: 50%;
}

.ju-bor{
    border-radius: 4%;
}

#my-us{
    height: 100px;
}

#my-fi{
    margin-left: 6px;
}

#my-ca{
    height: 150px;
}

.my-you{
    height: 42px;
}

#my-you-fi{
    margin-top: 30px;
}

.con-wid{
    width: 98%;
}

.mg-t10{
    margin-top: 10px;
}

.sele{
    color: deepskyblue;
}

.con-hei{
    min-height: 667px;
}

.whi-wor{
    color: #ffffff;
}

.bla-wor{
    color: #000000;
}

#or-ca{
    margin-left:10px;
}

.or-list-le{
    margin-left: 4px;
}

.bl-wor{
    color: #00B0FF;
}

.debl-bg{
    background-color: #00B0FF;
}

#cus-fi{
    height: 45px;
}

#cus-key{
    color:#ffffff;
    background-color: #0044cc;margin-left: 5%;
    margin-top: 4px;
}

#cus-zx{
    color: #f0ad4e;
}

#cus-dh{
    color: #00C2AF;
}

.cus-1-mt{
    margin-top: 15px;
}

#cus-2-mt{
    margin-top: 10px;
}

.fl-ri{
    float: right;
}

.ul-angle{
    float: right;
    margin-top: -30px;
}

.ul-angle2{
    float: right;
    margin-top: -40px;
}

#nopay1{
    margin-left:10px;
}

#nopay2{
    margin-top: 15%;
}

#tousu{
    height: 80px;
    width: 100%;
}

#tijiao{
    margin-left:10px;
    margin-top: 10px;
}

.yuan{
    border-radius: 50%;
}

#bd-he{
    height: 250px;
    background-image: url(../img/bd.png);
}

.lv-cen{
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

#zb-he{
    height: 250px;
    background-image: url(../img/zhoubian.png);
}

#baocun{
    margin-left:10px;
    margin-top: 10px;
}

#lv1{
    background-image: url(../img/diqiu.png);min-height:667px;background-repeat: repeat-y;background-size: 100% 40%;
}

#lv2{
    border-radius: 34% 34% 0 0;margin-top: 200px;background-color: #ffffff;
}

#bd{
    color: #ffffff;background-image: url(../img/bd.png);height:200px;background-repeat: no-repeat;background-size: 100% 100%;margin: 20px;
}

#zb{
    color: #ffffff;background-image: url(../img/zhoubian.png);height:200px;background-repeat: no-repeat;background-size: 100% 100%;margin: 20px;
}

#ms{
    color: #ffffff;background-image: url(../img/meishi.png);height:200px;background-repeat: no-repeat;background-size: 100% 100%;margin: 20px;
}

.fl-le{
    float: left;
}

