body {
	font-weight: bold;
}
.row1 {
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
	height: 50px;
	background-color: #00B0FF;
}

.bt1 {
	margin-top: 13px;
	background-color: #00B0FF;
	border-color: #00B0FF;
}
.tx1 {
	line-height: 50px;
}

.carousel-indicators .active {
	background-color: #00C2AF;
}
.carousel-indicators li {
	background-color: #F59000;
}

.row2 {
	text-align: center;
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
	font-size: 27px;
}
.row2-1, .row2-3 {
	border-bottom: solid 1px #E4D7D7;
}
.bt2 {
	width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border-radius: 50%;
}
.row3 {
	height: 60px;
	border-bottom: solid 4px #E4D7D7;
}
.row3-1 {
	line-height:60px;
	font-size: 30px;
}
.row3-2 {
	font-size: 20px;
	line-height: 70px;
}

.row4 {
	height: 70px;
	border-bottom: solid 3px #E4D7D7;
}

.Multi-Pass {
	width: 100%;
	height: 100px;
}
#No1 ,#No2 {
	width: 20px;
	height: 30px;
	margin-top: 35px;
	margin-left: 5px;
	font-size: 5px;
	line-height: 30px;
	text-align: center;
	background-color: #00B0FF;
}

.input-group {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row5 {
	width: 100%;
	height: 110px;
	border-top: solid 1px #E4D7D7;
	border-bottom: solid 1px #E4D7D7;
}
.bt3 {
	width: 80%;
	height: 50px;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	margin-top: 30px;
	margin-left: 56px;
	color: white;
	background-color: orange;
}

#row6 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-top: solid 1px #E4D7D7;
}
#bt4 {
	width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border-radius: 50%;
}